@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

$bg-img: url('img/nordwood-themes-wtevVfGYwnM-unsplash.jpg');
$baskerville: 'Libre Baskerville', Helvetica, serif;

body {
  display: flex;
  justify-content: center;
  font-family: $baskerville;
  overflow: hidden;

  input {
    display: block;
  }
}

h2 {
  font-size: 8rem;
  font-weight: 700;
}
p {
  font-size: 2rem;
}

.main {
  display: flex;
}

.container {
  border: 1px solid #000;
  height: 100vh;
  width: 50vw;
  transform: rotate(0deg);
  transform-origin: bottom center;
}

.controls {
  position: absolute;
}

iframe {
  position: absolute;
}

img {
  width: 400px;
  transform-origin: center center;
  // transform: rotate(0);
  animation: rotation 1s linear forwards;
}

.coffee {
  width: 200px;
}

.ingredients-bg {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  
}

.ingredients-bg:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: no-repeat center / cover $bg-img;
  // -webkit-transform: rotate(30deg);
  // transform: rotate(30deg);
  }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(90deg);
  }
}
